<div class="py-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <span class="anchor" id="formLogin"></span>
  
        <!-- form card login -->
        <div class="card rounded-0">
          <div class="card-header">
            <h3 class="mb-0">Login Here</h3>
          </div>
          <div class="card-body">
            <form (ngSubmit)=validateuser() class="form">
              <div [class.d-none] class="alert alert-danger" *ngIf="errorval">User Not Found</div>
              <div class="form-group">
                <label for="uname1">Email</label>
                <input type="text" class="form-control rounded-0" [(ngModel)]="user.email" name="email" required>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control rounded-0" [(ngModel)]="user.password" name="password" required>
              </div>
              <br>
              
              <div class="form-control">
                <label for="room">Room :</label>
                <select name="room" id="room">
                  <option value="JavaScript">JavaScript</option>
                  <option value="Python">Python</option>
                  <option value="PHP">PHP</option>
                  <option value="C#">C#</option>
                  <option value="Ruby">Ruby</option>
                  <option value="Java">Java</option>
                </select>
              </div>
              <br>
              <input type="submit" value="join chat" class="btn btn-primary float-right"/> 
            </form>
          </div>
          <!--/card-block-->
        </div>
        <!-- /form card login -->
  
      </div>
  
  
    </div>
  </div>